.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label {
	align-self: flex-start;
	color: #ffffff;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

input {
	margin-bottom: 1rem;
}

.btn {
	background-color: #111111;
	color: #ffffff;
	border: 0;
	font-size: 1.5rem;
	cursor: pointer;
	width: 100%;
	padding: 1rem 0;
}

.error {
	position: relative;
	top: 0;
	color: #ff2c2c;
}
