.btn {
	background-color: #222222;
	color: #ffffff;
	border: 0;
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	margin-right: 1rem;
}
.btn:active {
	background-color: #ffffff;
	color: #222222;
}
.buttons {
	display: flex;
	flex-direction: row;
}
