.title {
	color: #ffffff;
	font-size: 6rem;
	margin-top: 11rem;
	margin-bottom: 1rem;
}

.bodyText {
	color: #ffffff;
	margin-bottom: 3rem;
}
.cardContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 912px;
	margin-top: 2rem;
}

.ghLink {
	color: #ffffff;
	font-size: 2rem;
	text-decoration: none;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	margin-left: -60px;
	left: 50%;
	top: 105%;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.icon {
	margin-left: 0.5rem;
}
